<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Registrar</title>
  </head>
  <body style="background-color:#4BE8E8;">
    <div class="text-center m-b-md mt-3" id="wizardControl">
      <a class="btn btn-default" href="#step1" data-toggle="tab"><strong></strong></a>
      <a class="btn btn-default" href="#step2" data-toggle="tab"><strong></strong></a>
    </div>
    <div class="container mt-5">
      <div class="row" id="step1">
        <div class="col"></div>
        <div class="col-6">
          <div class="row ml-5">
            Ingrese el nombre de la materia que desea registrar.
          </div>
          <div class="row mt-5">
            <div class="col-2">
              <label>Materia: </label>
            </div>
            <div class="col">
				<input class="form-control" type="text" id="id_nombre_materia" />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
              <button  id="regresar" class="btn" style="background-color:#4BE8E8;" type="button">
                <img th:src="@{/img/botones/Selección_004.png}" width="150px"/>
              </button>
            </div>
            <div class="col-1"></div>
            <div class="col">
              <button id="guardar_materia" class="btn" style="background-color:#4BE8E8;" type="submit">
                <img th:src="@{/img/botones/Selección_005.png}" width="150px"/>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
      $("#guardar_materia").click(function () {
      var nombre_materia = $("#id_nombre_materia").val();
      if (nombre_materia == "") {
        swal("Error", "Algun campo no ha sido llenado", "error");
      }else{
      	var data = {}
      	data["materia"] = nombre_materia;
        $.ajax({
		  contentType: "application/json",
          url: '/verificar',
          data: JSON.stringify(data),
          type:'POST',
          dataType: 'json',
          success: function (data) {
            if (data) {
  				swal("¡Exito!","Se ha agredado con exito", "success").then((value) => {
		            window.location.href = '/registrar_todo'
              	});
            }else{
   				swal("Error","Ya existe una materia con ese nombre", "error");
            }
          }
        });
      }
    });
    </script>
    <script type="text/javascript">
      $("#regresar").click(function(){
        window.location.href = '/'
      });
    </script>
  </body>
</html>
